header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 2px;
    height: 5rem;
    background-color: var(--color-primary);
}

.me {
    background: linear-gradient(45deg, var(--color-primary), transparent);
    width: 28rem;
    height: 28rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    /* Removed padding to fill the circle */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.me img {
    transform: rotate(90deg) scale(1.1);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {
    .container {
        height: 80vh;
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: 150vh;
    }

    .header__socials,
    .scroll_down {
        display: none;

    }

}