* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: border-box;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none
}

:root {
    --color-bg: rgb(4, 4, 110);
    --color-bg-variant: rgb(2, 86, 255);
    --color-primary: rgb(67, 148, 255);
    --color-primary-variant: rgb(93, 93, 181);
    --color-white: white;
    --color-light: lightgrey;

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}


.container {
    width: var(--container-width-lg);
    margin: 0 auto;

}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    color: yellow;
}

section {
    margin-top: 8rem;
    height: auto;
}

section>h2,
section>h5 {
    text-align: center;
}

section>h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white)
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bgw)
}

img {
    display: block;
    width: 100%;
    object-fit: cover;

}

/* Media Queries */
@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md)
    }

    section {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm)
    }

    section>h2 {
        margin-bottom: 2rem;
    }
}